name: release
on:
  push:
    tags:
      - 'v*'
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: リポジトリのチェックアウト
        uses: actions/checkout@v4
      - name: コミットバージョン
        run: git log -n 1
      - name: gradlewのためのセキュリティチェック
        uses: gradle/wrapper-validation-action@v1
      - name: Javaのセットアップ
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'microsoft'
      - name: プロジェクトのビルド
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build
      - name: ビルドされたファイルの一覧
        run: ls -1 build/libs
      - name: リリースに必要な情報の抽出
        run: |
          mod_version=$(echo ${{ github.ref }} | perl -lpE 's|^refs/tags/v||')
          echo "Mod Version: $mod_version"
          echo "mod_version=$mod_version" >> $GITHUB_ENV
      - name: リリースの作成
        run: >
          gh release create
          v${{ env.mod_version }}
          --verify-tag
          --title ${{ github.ref }}
          build/libs/MirageFairy2024-${{ env.mod_version }}.jar#MirageFairy2024-${{ env.mod_version }}.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
